*{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-image: url(Images/bg3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro{
    margin-left: 100px;
    margin-top: 7%;
    color: white;
    padding: 20px;
}

ul{
    background-color: #2b2828;
    overflow: auto;
}

li{
    float: left;
    list-style: none;
}

li a{
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
}

li a:hover{
    background-color: #ffffff;
    color: #000000;
}

/* login page */
.log{
    padding-left: 8%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background: #fff;
    border-radius: 30px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 30px 30px rgb(0, 0, 0, 0.5);
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #262626;
    text-align: center;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    outline: none;
    height: 40px;
    color: #262626;
    border-bottom: 2px solid #262626;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
    border-bottom: 2px solid #f00;
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 16px;
    background: #ed292a;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.loginBox a {
    margin-top: 15px;
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* gradiant background animation */
/* .animated-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right, #833ab4, 
        #fd1d1d, #fcb045);
        background-size: 400% 400%;
        animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0%{
        background-position: 0 50px;
    }
    50%{
        background-position: 100% 50px;
    }
    100%{
        background-position: 0 50px;
    }
} */